<div class="container">
    <h1 appTest>Liste des Vetements</h1>
    <br>
    <button class="btn btn-success"routerLink="addVetement">Ajouter Vetement</button>
    <br><br>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">


                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Image Vetement</span></th>

                                    <th><span>Type</span></th>
                                    <th><span>Couleur</span></th>
                                    <th><span>Taille</span></th>
                                    <th><span>Marque</span></th>
                                    <th><span>saison</span></th>
                                    <th><span>sexe</span></th>
                                    <th><span>prix</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of listVetement">
                                <tr>
                                    <td>

                                        <img src="http://localhost:9095/voiture/{{item.image}}"  alt="" style="height: 50px"
                                            width="70px">
                                    </td>
                                    <td>
                                        <a href="#" class="user-link">{{item.type}} </a>
                                    </td>
                                    <td>{{item.couleur}}</td>
                                    <td>{{item.taille}}</td>
                                    <td>{{item.marque}}</td>
                                    <td>{{item.saison}}</td>
                                    <td>{{item.sexe}}</td>
                                    <td>{{item.prix}}</td>

                                    <td style="width: 20%;">
                                        <a href="#" class="table-link">
                                          <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                        <a  class="table-link" [routerLink]="['updateVetement',item.idV]">
                                          <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>

                                        <!-- Utilisez *ngIf pour rendre le bouton "Delete" inactif si item.accountCategory est "Admin" -->
                                        <button class="table-link danger"   (click)="delete(item.idV)">
                                          <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"  ></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </button>
                                      </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pull-right">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
