<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <i class="fas fa-home"></i>Accueil</a>
        </li>
        <li *ngIf="isLogged && isAdmin==false" class="nav-item">
          <a class="nav-link" routerLink="/list-voiture-client">
            <i class="far fa-list-alt"></i>Voitures</a>
        </li>
        <li *ngIf="isLogged && isAdmin==false" class="nav-item">
          <a class="nav-link" routerLink="/motos">
            <i class="far fa-list-alt"></i>Moto</a>
        </li>
        <li *ngIf="isLogged && isAdmin==false" class="nav-item">
          <a class="nav-link" routerLink="/produits">
            <i class="far fa-list-alt"></i>Produits</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/dash-admin">
            <i class="fas fa-toolbox"></i>Admin</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="isLogged" class="nav-item mr-5">
        <a class="nav-link" href="#">
         Bienvenue {{username}}</a>
      </li>
      <button class="btn btn-outline-success" *ngIf="!isLogged" (click)="login()"><i class="fas fa-sign-in-alt"></i> Login</button>
      <button class="btn btn-outline-danger" *ngIf="isLogged" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
    </ul>
  </div>
</nav>
